html {
  height: 100%;
  font-size: 62.5%; /* Setting base font to 10px and define all your units in rem. 1rem = 10px */
}

body {
  margin: 0;
  height: 100%;
  display: block;
  overflow: hidden;
  font-family: sans-serif;
}

.hidden {
  visibility: hidden;
}

section[role="region"] {
  height: 100%;
  background: #fff;
}

section[role="region"] > header.fixed:first-child {
  position: absolute;
  width: 100%;
}

.scrollable {
  overflow: auto;
  height: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  position: relative;
}

.scrollable.header {
  height: calc(100% - 5rem);
  top: 5rem;
}

/* Setting proper paddings and margins */
.content {
  padding: 1.5rem;
}

section[role="region"] .content header {
  margin: 1.5rem -1.5rem;
}

section[role="region"] .content header:first-child {
  margin-top: -1.5rem;
}

.content [data-type="list"] {
  margin: -1.5rem;
}

.center {
  text-align: center;
}

[data-type="list"] {
  padding: 0;
}

[data-type="list"] ul {
  padding: 0 1.5rem;
  overflow: auto;
}

section[role="region"] .content [data-type="list"] header {
  margin: 0 1.5rem;
}

section[data-type="sidebar"] nav {
	overflow-x: hidden;
}

[data-type="list"] li p,
[data-type="list"] li p:first-of-type {
  padding-left: 1.5rem;
}


/* Fonts */
h1 { /* Main header */
  font-size: 2.5rem;
  font-weight: normal;
}

h2 { /* Subheader, Dialog title */
  font-size: 1.6rem;
  font-weight: normal;
}

p {
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.5rem;
}

p.large { /* Dialog body */
  font-size: 2.3rem;
  font-weight: 300;
  line-height: 3rem;
}

p.alt { /* Body medium, Buttons */
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 2.2rem;
}

p.small { /* Status bar */
  font-size: 1.5rem;
  line-height: 2rem;
}

p.mini { /* Fine print */
  font-size: 1.4rem;
  line-height: 1.9rem;
}

p.micro { /* App icon label */
  font-size: 1.3rem;
  line-height: 1.8rem;
}

ul, ol, li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.9rem;
  font-weight: normal;
  line-height: 2.5rem;
}

/**
 * Table View
 * line height = 6rem, border included
 */

ul {
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
}

ul li {
  -moz-box-sizing: border-box;
  position: relative;
  margin: 0 1.5rem;
  border-bottom: 0.1rem solid #e6e6e3;
  color: #000;
}

ul li:last-child {
  border-bottom: none;
}

ul li.sound-setting {
  min-height: 7.9rem;
}

ul li label:not([for]) {
  background: none;
}

ul li > a,
ul li > span,
ul li > small,
ul li > label > span,
ul li > label > small {
  text-decoration: none;
  outline: 0;
  color: #000;
  -moz-box-sizing: border-box;
  font-size: 1.9rem;
  padding: 0 3rem;
  margin: 0 -1.5rem;
}

ul li,
ul li > a,
ul li > label {
  min-height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

ul li > a,
ul li > label {
  min-height: 6rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

ul li[hidden] {
  display: none;
}

ul li > a > span {
  pointer-events: none;
}

ul li.active a,
ul li.active span,
ul li:not([aria-disabled="true"]) > small + a:active,
ul li:not([aria-disabled="true"]) > a[href]:active,
ul li:not([aria-disabled="true"]) > small + a:focus,
ul li:not([aria-disabled="true"]) > a[href]:focus {
  background-color: #b2f2ff;
  color: #222;
}

ul li[aria-disabled="true"] > a,
ul li[aria-disabled="true"] > p {
  color: #797e80;
  opacity: 0.6;
  pointer-events: none;
}

ul > li > progress {
  display: inline-block;
  margin: 0;
  padding: 0;
}

ul > li > progress + span {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding: 0 0 0 1rem;
  color: #505b5b;
  font-size: 1.4rem;
  line-height: 6rem;
}

/* description + value on the same line */
ul li > a span:nth-of-type(2):not(.button) {
  position: absolute;
  right: 1.5rem;
  color: #505859;
  line-height: 6rem;
  height: 6rem;
  top: 0;
}

/* text ellipsis */
ul li > *, ul li > label > *, ul li > a > * {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* sublines */
ul li > small, ul li > label > small , ul li > a > small {
  display: block;
  font-size: 1.4rem;
  color: #505859;
  /* click/tap events should be caught by the <a> element below the <small> */
  pointer-events: none;
}

small.multiline > span {
  display: block;
}

ul li > label {
  font-size: 1.9rem;
  line-height: 1.9rem;
  font-weight: 400;
  margin: 0;
}

ul li > label ~ input {
  margin-bottom: 1.5rem;
}

ul li > label.pack-checkbox > small,
ul li > label.pack-radio > small {
  right: 6.1rem;
}

ul li > label.pack-switch > small {
  right: 9rem;
}

/* color previews */
ul li > label.pack-checkbox > .color-preview:before {
  height: 2rem;
  width: 2rem;
  content: "";
  margin: -1.1rem 0 0 -3rem;
  top: 50%;
  position: absolute;
}

ul.disabled li > label.pack-checkbox > .color-preview:before {
  opacity: 0.4;
}

/******************************************************************************
 * Boolean buttons
 */

ul li button,
ul li a[role="button"] {
  display: inline-block;
  margin: 1rem 0;
}

/******************************************************************************
 * Boolean inputs
 */

/* custom styles for boolean inputs (see /shared/style/switches.css) */
ul li label {
  text-transform: none;
}

ul li > label:not([for]),
ul li > label.pack-checkbox,
ul li > label.pack-radio,
ul li > label.pack-switch {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  width: 100%;
  height: calc(100% - 1rem);
  min-height: 5rem;
  overflow: visible;
  display: flex;
}

ul li > label:not([for]) > span,
ul li > label.pack-checkbox > span,
ul li > label.pack-radio > span,
ul li > label.pack-switch > span {
  line-height: normal;
  height: auto;
}

ul li > label.pack-checkbox > span:after,
ul li > label.pack-radio > span:after,
ul li > label.pack-switch > input ~ span:after {
  left: auto;
  right: 1.5rem;
}

ul li > label.pack-checkbox > span {
  padding-right: 6.1rem;
}

ul li > label.pack-radio ~ p {
  padding-right: 3rem;
}

ul li > label.pack-switch > span {
   padding-right: 9rem;
}

ul li > label.pack-radio > span {
  padding-right: 5.9rem;
}

ul li > label.pack-checkbox:active,
ul li > label.pack-radio:active,
ul li > label.pack-switch:active {
  background-color: #b2f2ff;
  color: #222;
}

/* Pegsol custom CSS */
#index {
  height: 100%;
}

/* Active state */
.active {
  background-color: #b2f2ff;
  color: #fff;
}

/* Lists */
/* to avoid double background effect on press */
[data-type=list] li>a:active {
  background-color: transparent;
}

/* Drawer */
section[role="region"]:not(#drawer) {
  transition: none;
  left: 0;
  z-index: 0;
  padding-left: 0;
}
section[data-type="sidebar"] + section[role="region"] > header:first-child > button,
section[data-type="sidebar"] + section[role="region"] > header:first-child > a {
  background-position: 3.5rem center;
}

/* Switches */
#switches div:last-child label:last-child {
  margin-left: 2rem;
}
#switches div:last-child {
  margin-left: 2rem;
}

/* Seek bars */
div[role="slider"] > label.icon {
  background: no-repeat right top;
  background-size: 3rem auto;
}

/* Device rotation */
.landscape section[role="region"]#drawer > header:first-child {
  /* Whatever needs to be changed on landscape */
}

/* Figcaption width same as img width. Doesn't work in IE */
figure {
  border: 0.5rem solid #f97c17;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

img {
  max-width: 100%;
  height: auto !important;
}

/* Img postion */
.img-left{
  float: left;
  margin: 1.9rem 1.9rem 1.9rem 0;
}

/* Board */
#board{
  border: 0.5rem solid #f97c17;
  padding: 1rem;
  margin: 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#board .board-inner{
  border: 0.5rem solid #a5665d;
  background: #a5665d;
  padding: 1rem;
  margin: 0 auto;
  max-width: 67.25rem;
  max-height: 67.25rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.board-inner .row{
  max-height: 7rem;
}

.board-inner .col{
  display: table-cell;
  width: 7rem;
  min-width: 2rem;
  min-height: 2rem;
  max-width: 7rem;
  max-height: 7rem;
  padding: 0.25rem;
}

/* Orbs and holes */
/* Generic circles */
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  behavior: url(PIE.htc); /* remove if you don't care about IE8 */
}

.board-inner .hole{
  width: 100%;
  height:0;
  padding-bottom: 100%;
  background: #804f48;
}

.board-inner .hole:hover{
  background: #734741;
}

.board-inner .orb{
  width: 100%;
  height:0;
  padding-bottom: 100%;
  background: #5d9da6;
}

.board-inner .orb:hover{
  background: #56929a;
}

.board-inner .orb.active{
  background: #56929a;
}

/* Timer and counter*/
#messages, #timer, #counter{
  text-align: center;
  border: 0.5rem solid #f97c17;
  padding: 0.5rem 1rem;
  margin: 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

#messages span, #timer span, #counter span{
  font-size: 1.9rem;
}

/* Leaderboard */
#panel-how-to, #form-new-game, #leaders{
  border: 0.5rem solid #f97c17;
  padding: 1rem;
  margin: 1rem;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;  
}

#leaders #leaders-table{
  border: 0.5rem solid #222222;
  width: 63rem;
  min-width: 17rem;
  max-width: 63rem;
  text-align: center;
  padding: 1rem;
  margin: 1rem auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  font-size: 1.9rem;
}

.positive{
  color: green;
}

.negative{
  color: red;
}