[data-position="right"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transform: translateX(100%);
	-webkit-transform: translateX(100%);
	z-index: 15;
	z-index: 100; /* -> drawer */
}
section[role="region"][data-position="right"] {
	position: absolute;
}
[data-position="right"].current {
	animation: rightToCurrent 0.4s forwards;
	-webkit-animation: rightToCurrent 0.4s forwards;
}
[data-position="right"].right {
	animation: currentToRight 0.4s forwards;
	-webkit-animation: currentToRight 0.4s forwards;
}
[data-position="current"].left {
	animation: currentToLeft 0.4s forwards;
	-webkit-animation: currentToLeft 0.4s forwards;
}
[data-position="current"].current {
	animation: leftToCurrent 0.4s forwards;
	-webkit-animation: leftToCurrent 0.4s forwards;
}
[data-position="back"] {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
	opacity: 0;
	/* z-index: 100; -> drawer */
}
[data-position="back"].fade-in {
	z-index: 120;
	animation: fadeIn 0.2s forwards;
	-webkit-animation: fadeIn 0.2s forwards;
}
[data-position="back"].fade-out {
	animation: fadeOut 0.2s forwards;
	-webkit-animation: fadeOut 0.2s forwards;
}

[data-position="edit-mode"] {
	position: absolute;
	top: -5rem;
	left: 0;
	right: 0;
	bottom: -7rem;
	z-index: -1;
	opacity: 0;
	transition: all 0.3s ease;
}
[data-position="edit-mode"].edit {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 120;
	opacity: 1;
}